.GameFooter {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 200px;
  height: 200px;
}

.cardfooter-container {
  display: flex;
}

.cardfooter-container img {
  width: 230px;
  height: 150px;
  object-fit: cover;
  padding: 15px;
}

.card-not-found {
  display: none;
}
