.GameBody {
  display: flex;
  justify-content: space-around;
  margin-top: 25vh;
}

/* =============================
      BUTTON
  ============================= */
.validate button {
  position: absolute;
  left: 50%;
  top: 45%;
  width: 210px;
  height: 50px;
  margin: 0;
  padding: 0;
  background: rgba(194, 188, 188, 0.5);
  font-family: var(--font-family-primary);
  color: var(--color-light);
  font-size: 1.5rem;
  transform: translate(-50%, -40%);
  border: none;
  outline: none;
  z-index: 10;
}

.validate button span {
  display: block;
  position: relative;
  height: 50px;
  line-height: 50px;
  cursor: pointer;
}

.validate button > span:after,
.validate button > span:before {
  content: '';
  position: absolute;
  top: 0;
  width: 5px;
  height: 0;
  border: 1px solid var(--color-light);
  border-bottom: none;
  transition: height 0.15s ease-out, width 0.15s ease-out 0.15s;
}

.validate button > span:after {
  left: 50%;
  border-left: none;
}

.validate button > span:before {
  right: 50%;
  border-right: none;
}

.validate:hover button > span:after,
.validate:hover button > span:before {
  width: calc(50% - 1px);
  height: calc(100% - 2px);
  transition: width 0.15s ease-out, height 0.15s ease-out 0.15s;
}

.validate button > span > span:before,
.validate button > span > span:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0%;
  width: 1px;
  height: 1px;
  opacity: 0;
}

.validate button > span > span:before {
  right: 0%;
}

.validate button > span > span:after {
  left: 0%;
}

.validate:hover button > span > span:before,
.validate:hover button > span > span:after {
  opacity: 1;
  border-bottom: 1px solid var(--color-light);
  width: calc(50%);
  height: 1px;
  transition: opacity 0s ease-out 0.29s, width 0.15s ease-out 0.3s;
}

.validate:hover button > span > span > span {
  color: var(--color-light);
}

.validate button > span > span > span:after {
  content: attr(data-attr-span);
  position: absolute;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 0%;
  height: 100%;
  background: var(--color-light);
  color: var(--color-dark);
  white-space: nowrap;
  text-align: center;
  margin: auto;
  overflow: hidden;
  transition: width 0.2s 0.1s;
}

.validate button:hover > span > span > span:after {
  width: 100%;
}
