/* ========================
      STOCKCARD
======================== */
.StockCard {
  border: 1px solid var(--color-light);
  min-width: 15rem;
  min-height: 30em;
  display: grid;
  grid-template-columns: 1fr;
  font-family: cursive;
}

.Card {
  border: 1px solid var(--color-light);
}

.StockCard {
  transition: transform 1s;
}

.StockCard-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.StockCard-container button.hide {
  display: none;
}

.StockCard-container button {
  padding: 10px 25px;
  background: var(--color-gray-8);
  color: var(--color-gray-1);
  text-decoration: none;
  position: absolute;
  border-radius: 0 0 100px 100px;
  border: none;
  cursor: pointer;
  top: 150px;
}

.StockCard-container button:hover {
  color: var(--color-gray-8);
  background: var(--color-gray-1);
}

/* ========================
      STOCKCARD LEFT
======================== */

.stockcardleft {
  transform: translateX(-100%);
}

.stockcardleft.show {
  transform: translateX(2px);
}

.stockcardleft .open {
  right: -65px;
  transform: rotate(270deg);
}

.stockcardleft .close {
  left: 210px;
  transform: rotate(270deg);
}

/* ========================
      STOCKCARD RIGHT
======================== */

.stockcardright {
  transform: translateX(100%);
}

.stockcardright.show {
  transform: translateX(0);
}

.stockcardright .open {
  right: 212px;
  transform: rotate(-270deg);
}
.stockcardright .close {
  left: -66px;
  transform: rotate(-270deg);
}
