/* ========================
      ZOOMCARD
======================== */

.zoomcard {
  position: relative;
  border-radius: 20px;
  width: 100%;
  min-width: 200px;
  max-width: 350px;
  height: 330px;
  margin: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.zoomcardleft .zoomcard-card,
.zoomcardright .zoomcard-card {
  position: absolute;
}

.zoomcardleft .zoomcard-card.hide,
.zoomcardright .zoomcard-card.hide {
  display: none;
  transition: all 1s 2s;
}

.zoomcardleft .zoomcard-card.show,
.zoomcardright .zoomcard-card.show {
  display: block;
  animation: bounceIn 1s both;
}

.zoomcardleft .zoomcard-card.begin-hide,
.zoomcardright .zoomcard-card.begin-hide {
  display: none;
}

.zoomcardleft.zoomcard-card.begin-show,
.zoomcardright .zoomcard-card.begin-show {
  animation: bounceIn 1s both;
}

/* ========================
      ZOOMCARD IMG
======================== */
.zoomcard .zoomcard-card img {
  display: block;
  width: auto;
  border-radius: 20px;
}

/* ========================
      ZOOMCARD LEFT
======================== */

.zoomcardleft {
  max-width: 300px;
  width: 100%;
  margin-left: 0;
}

.zoomcardleft .zoomcard-card img {
  display: block;
  width: 100%;
  height: auto;
}

/* ========================
      ZOOMCARD LEFT
======================== */
.zoomcardright {
  min-width: auto;
  max-width: 200px;
  margin-right: 5%;
}
