.zoomcard {
  width: 100%;
  min-width: 300px;
  max-width: 300px;
  height: 350px;
  margin: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.zoomcard img {
  height: 300px;
  width: 350px;
}
