@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes bounceInLeft {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: translate3d(-3000px, 0, 0) scaleX(3);
  }

  60% {
    opacity: 1;
    transform: translate3d(25px, 0, 0) scaleX(1);
  }

  75% {
    transform: translate3d(-10px, 0, 0) scaleX(0.98);
  }

  90% {
    transform: translate3d(5px, 0, 0) scaleX(0.995);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceInRight {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    transform: translate3d(3000px, 0, 0) scaleX(3);
  }

  60% {
    opacity: 1;
    transform: translate3d(-25px, 0, 0) scaleX(1);
  }

  75% {
    transform: translate3d(10px, 0, 0) scaleX(0.98);
  }

  90% {
    transform: translate3d(-5px, 0, 0) scaleX(0.995);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: scale3d(0, 0, 0);
  }

  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

@keyframes bounceOut {
  20% {
    transform: scale3d(0.9, 0.9, 0.9);
  }

  50%,
  55% {
    opacity: 1;
    transform: scale3d(1.1, 1.1, 1.1);
  }

  to {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
}

@keyframes zoomInDown {
  from {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* ===========================
      TEXT END EFFECT
=========================== */
@keyframes fly1 {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(315deg) rotateY(-425deg)
      rotateZ(-277deg) translateZ(-2010px);
  }
  10% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(315deg) rotateY(-425deg)
      rotateZ(-277deg) translateZ(-2010px);
  }
  90% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
}

@keyframes fly2 {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(395deg) rotateY(231deg)
      rotateZ(-383deg) translateZ(-1643px);
  }
  10% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(395deg) rotateY(231deg)
      rotateZ(-383deg) translateZ(-1643px);
  }
  90% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
}

@keyframes fly3 {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(370deg) rotateY(416deg)
      rotateZ(133deg) translateZ(-2390px);
  }
  10% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(370deg) rotateY(416deg)
      rotateZ(133deg) translateZ(-2390px);
  }
  90% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
}

@keyframes fly4 {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(191deg) rotateY(480deg)
      rotateZ(331deg) translateZ(-441px);
  }
  10% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(191deg) rotateY(480deg)
      rotateZ(331deg) translateZ(-441px);
  }
  90% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
}

@keyframes fly5 {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(125deg) rotateY(486deg)
      rotateZ(-104deg) translateZ(-390px);
  }
  10% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(125deg) rotateY(486deg)
      rotateZ(-104deg) translateZ(-390px);
  }
  90% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
}

@keyframes fly6 {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(-448deg) rotateY(-231deg)
      rotateZ(-370deg) translateZ(-966px);
  }
  10% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(-448deg) rotateY(-231deg)
      rotateZ(-370deg) translateZ(-966px);
  }
  90% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
}

@keyframes fly7 {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(112deg) rotateY(-422deg)
      rotateZ(-342deg) translateZ(-847px);
  }
  10% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(112deg) rotateY(-422deg)
      rotateZ(-342deg) translateZ(-847px);
  }
  90% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
}

@keyframes fly8 {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(-273deg) rotateY(-239deg)
      rotateZ(104deg) translateZ(81px);
  }
  10% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(-273deg) rotateY(-239deg)
      rotateZ(104deg) translateZ(81px);
  }
  90% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
}

@keyframes fly9 {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(-331deg) rotateY(-225deg)
      rotateZ(-260deg) translateZ(-2045px);
  }
  10% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(-331deg) rotateY(-225deg)
      rotateZ(-260deg) translateZ(-2045px);
  }
  90% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
}

@keyframes fly10 {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(-120deg) rotateY(-422deg)
      rotateZ(228deg) translateZ(292px);
  }
  10% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(-120deg) rotateY(-422deg)
      rotateZ(228deg) translateZ(292px);
  }
  90% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
}

@keyframes fly11 {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(-112deg) rotateY(360deg)
      rotateZ(-5deg) translateZ(411px);
  }
  10% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(-112deg) rotateY(360deg)
      rotateZ(-5deg) translateZ(411px);
  }
  90% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
}

@keyframes fly12 {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(34deg) rotateY(179deg)
      rotateZ(-314deg) translateZ(491px);
  }
  10% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(34deg) rotateY(179deg)
      rotateZ(-314deg) translateZ(491px);
  }
  90% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
}

@keyframes fly13 {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(-16deg) rotateY(379deg)
      rotateZ(-399deg) translateZ(-148px);
  }
  10% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(-16deg) rotateY(379deg)
      rotateZ(-399deg) translateZ(-148px);
  }
  90% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
}

@keyframes fly14 {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(-220deg) rotateY(424deg)
      rotateZ(-365deg) translateZ(-41px);
  }
  10% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(-220deg) rotateY(424deg)
      rotateZ(-365deg) translateZ(-41px);
  }
  90% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
}

@keyframes fly15 {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(164deg) rotateY(316deg)
      rotateZ(139deg) translateZ(-716px);
  }
  10% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(164deg) rotateY(316deg)
      rotateZ(139deg) translateZ(-716px);
  }
  90% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
}

@keyframes fly16 {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(272deg) rotateY(-460deg)
      rotateZ(142deg) translateZ(-371px);
  }
  10% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(272deg) rotateY(-460deg)
      rotateZ(142deg) translateZ(-371px);
  }
  90% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
}

@keyframes fly17 {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(292deg) rotateY(-486deg)
      rotateZ(-81deg) translateZ(-148px);
  }
  10% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(292deg) rotateY(-486deg)
      rotateZ(-81deg) translateZ(-148px);
  }
  90% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
}

@keyframes fly18 {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(293deg) rotateY(-493deg)
      rotateZ(364deg) translateZ(-691px);
  }
  10% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(293deg) rotateY(-493deg)
      rotateZ(364deg) translateZ(-691px);
  }
  90% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
}

@keyframes fly19 {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(392deg) rotateY(-175deg)
      rotateZ(350deg) translateZ(-2311px);
  }
  10% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(392deg) rotateY(-175deg)
      rotateZ(350deg) translateZ(-2311px);
  }
  90% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
}

@keyframes fly20 {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(392deg) rotateY(-289deg)
      rotateZ(-307deg) translateZ(405px);
  }
  10% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(392deg) rotateY(-289deg)
      rotateZ(-307deg) translateZ(405px);
  }
  90% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
}

@keyframes fly21 {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(-326deg) rotateY(-144deg)
      rotateZ(-59deg) translateZ(-1374px);
  }
  10% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(-326deg) rotateY(-144deg)
      rotateZ(-59deg) translateZ(-1374px);
  }
  90% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
}

@keyframes fly22 {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(101deg) rotateY(109deg)
      rotateZ(112deg) translateZ(-406px);
  }
  10% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(101deg) rotateY(109deg)
      rotateZ(112deg) translateZ(-406px);
  }
  90% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
}

@keyframes fly23 {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(459deg) rotateY(-26deg)
      rotateZ(-39deg) translateZ(169px);
  }
  10% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(459deg) rotateY(-26deg)
      rotateZ(-39deg) translateZ(169px);
  }
  90% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
}

@keyframes fly24 {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(-23deg) rotateY(-262deg)
      rotateZ(-107deg) translateZ(360px);
  }
  10% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(-23deg) rotateY(-262deg)
      rotateZ(-107deg) translateZ(360px);
  }
  90% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
}

@keyframes fly25 {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(404deg) rotateY(-325deg)
      rotateZ(-22deg) translateZ(-292px);
  }
  10% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(404deg) rotateY(-325deg)
      rotateZ(-22deg) translateZ(-292px);
  }
  90% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
}

@keyframes fly26 {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(105deg) rotateY(99deg)
      rotateZ(-366deg) translateZ(-1754px);
  }
  10% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(105deg) rotateY(99deg)
      rotateZ(-366deg) translateZ(-1754px);
  }
  90% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
}

@keyframes fly27 {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(179deg) rotateY(482deg)
      rotateZ(281deg) translateZ(-2163px);
  }
  10% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(179deg) rotateY(482deg)
      rotateZ(281deg) translateZ(-2163px);
  }
  90% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
}

@keyframes fly28 {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(74deg) rotateY(470deg)
      rotateZ(308deg) translateZ(-2053px);
  }
  10% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(74deg) rotateY(470deg)
      rotateZ(308deg) translateZ(-2053px);
  }
  90% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
}

@keyframes fly29 {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(305deg) rotateY(-240deg)
      rotateZ(-431deg) translateZ(367px);
  }
  10% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(305deg) rotateY(-240deg)
      rotateZ(-431deg) translateZ(367px);
  }
  90% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
}

@keyframes fly30 {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(-110deg) rotateY(-13deg)
      rotateZ(31deg) translateZ(-2277px);
  }
  10% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(-110deg) rotateY(-13deg)
      rotateZ(31deg) translateZ(-2277px);
  }
  90% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
}

@keyframes fly31 {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(279deg) rotateY(81deg)
      rotateZ(164deg) translateZ(-887px);
  }
  10% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(279deg) rotateY(81deg)
      rotateZ(164deg) translateZ(-887px);
  }
  90% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
}

@keyframes fly32 {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(362deg) rotateY(-388deg)
      rotateZ(-63deg) translateZ(454px);
  }
  10% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(362deg) rotateY(-388deg)
      rotateZ(-63deg) translateZ(454px);
  }
  90% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
}

@keyframes fly33 {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(-123deg) rotateY(79deg)
      rotateZ(-303deg) translateZ(-974px);
  }
  10% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(-123deg) rotateY(79deg)
      rotateZ(-303deg) translateZ(-974px);
  }
  90% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
}

@keyframes fly34 {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(-235deg) rotateY(-173deg)
      rotateZ(247deg) translateZ(-2391px);
  }
  10% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(-235deg) rotateY(-173deg)
      rotateZ(247deg) translateZ(-2391px);
  }
  90% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
}

@keyframes fly35 {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(-80deg) rotateY(-107deg)
      rotateZ(-203deg) translateZ(-923px);
  }
  10% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(-80deg) rotateY(-107deg)
      rotateZ(-203deg) translateZ(-923px);
  }
  90% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
}

@keyframes fly36 {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(456deg) rotateY(-37deg)
      rotateZ(-62deg) translateZ(-512px);
  }
  10% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(456deg) rotateY(-37deg)
      rotateZ(-62deg) translateZ(-512px);
  }
  90% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
}

@keyframes fly37 {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(-444deg) rotateY(-243deg)
      rotateZ(416deg) translateZ(-1342px);
  }
  10% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(-444deg) rotateY(-243deg)
      rotateZ(416deg) translateZ(-1342px);
  }
  90% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
}

@keyframes fly38 {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(27deg) rotateY(-419deg)
      rotateZ(159deg) translateZ(-1430px);
  }
  10% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(27deg) rotateY(-419deg)
      rotateZ(159deg) translateZ(-1430px);
  }
  90% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
}

@keyframes fly39 {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(339deg) rotateY(-43deg)
      rotateZ(-201deg) translateZ(-974px);
  }
  10% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(339deg) rotateY(-43deg)
      rotateZ(-201deg) translateZ(-974px);
  }
  90% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
}

@keyframes fly40 {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(331deg) rotateY(-324deg)
      rotateZ(-8deg) translateZ(-1797px);
  }
  10% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(331deg) rotateY(-324deg)
      rotateZ(-8deg) translateZ(-1797px);
  }
  90% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
}

@keyframes fly41 {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(-5deg) rotateY(180deg)
      rotateZ(-226deg) translateZ(-632px);
  }
  10% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(-5deg) rotateY(180deg)
      rotateZ(-226deg) translateZ(-632px);
  }
  90% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
}

@keyframes fly42 {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(139deg) rotateY(-257deg)
      rotateZ(-371deg) translateZ(-1741px);
  }
  10% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(139deg) rotateY(-257deg)
      rotateZ(-371deg) translateZ(-1741px);
  }
  90% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
}

@keyframes fly43 {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(87deg) rotateY(90deg)
      rotateZ(-325deg) translateZ(-1160px);
  }
  10% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(87deg) rotateY(90deg)
      rotateZ(-325deg) translateZ(-1160px);
  }
  90% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
}

@keyframes fly44 {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(-296deg) rotateY(-280deg)
      rotateZ(-278deg) translateZ(-497px);
  }
  10% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(-296deg) rotateY(-280deg)
      rotateZ(-278deg) translateZ(-497px);
  }
  90% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
}

@keyframes fly45 {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(-167deg) rotateY(-333deg)
      rotateZ(-205deg) translateZ(-2216px);
  }
  10% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(-167deg) rotateY(-333deg)
      rotateZ(-205deg) translateZ(-2216px);
  }
  90% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
}

@keyframes fly46 {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(390deg) rotateY(-98deg)
      rotateZ(199deg) translateZ(-1969px);
  }
  10% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(390deg) rotateY(-98deg)
      rotateZ(199deg) translateZ(-1969px);
  }
  90% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
}

@keyframes fly47 {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(153deg) rotateY(381deg)
      rotateZ(-236deg) translateZ(-643px);
  }
  10% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(153deg) rotateY(381deg)
      rotateZ(-236deg) translateZ(-643px);
  }
  90% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
}

@keyframes fly48 {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(175deg) rotateY(380deg)
      rotateZ(56deg) translateZ(-620px);
  }
  10% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(175deg) rotateY(380deg)
      rotateZ(56deg) translateZ(-620px);
  }
  90% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
}

@keyframes fly49 {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(315deg) rotateY(147deg)
      rotateZ(38deg) translateZ(-2068px);
  }
  10% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(315deg) rotateY(147deg)
      rotateZ(38deg) translateZ(-2068px);
  }
  90% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
}

@keyframes fly50 {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(405deg) rotateY(122deg)
      rotateZ(68deg) translateZ(-1044px);
  }
  10% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(405deg) rotateY(122deg)
      rotateZ(68deg) translateZ(-1044px);
  }
  90% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
}

@keyframes fly51 {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(316deg) rotateY(-136deg)
      rotateZ(418deg) translateZ(-189px);
  }
  10% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(316deg) rotateY(-136deg)
      rotateZ(418deg) translateZ(-189px);
  }
  90% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
}

@keyframes fly52 {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(-9deg) rotateY(-412deg)
      rotateZ(-85deg) translateZ(-1752px);
  }
  10% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(-9deg) rotateY(-412deg)
      rotateZ(-85deg) translateZ(-1752px);
  }
  90% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
}

@keyframes fly53 {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(56deg) rotateY(95deg)
      rotateZ(-332deg) translateZ(-992px);
  }
  10% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(56deg) rotateY(95deg)
      rotateZ(-332deg) translateZ(-992px);
  }
  90% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
}

@keyframes fly54 {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(29deg) rotateY(-244deg)
      rotateZ(-64deg) translateZ(-1034px);
  }
  10% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(29deg) rotateY(-244deg)
      rotateZ(-64deg) translateZ(-1034px);
  }
  90% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
}

@keyframes fly55 {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(-213deg) rotateY(-12deg)
      rotateZ(-79deg) translateZ(468px);
  }
  10% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(-213deg) rotateY(-12deg)
      rotateZ(-79deg) translateZ(468px);
  }
  90% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
}

@keyframes fly56 {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(500deg) rotateY(442deg)
      rotateZ(-124deg) translateZ(-565px);
  }
  10% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(500deg) rotateY(442deg)
      rotateZ(-124deg) translateZ(-565px);
  }
  90% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
}

@keyframes fly57 {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(-256deg) rotateY(-474deg)
      rotateZ(467deg) translateZ(-1016px);
  }
  10% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(-256deg) rotateY(-474deg)
      rotateZ(467deg) translateZ(-1016px);
  }
  90% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
}

@keyframes fly58 {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(128deg) rotateY(-154deg)
      rotateZ(21deg) translateZ(186px);
  }
  10% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(128deg) rotateY(-154deg)
      rotateZ(21deg) translateZ(186px);
  }
  90% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
}

@keyframes fly59 {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(-146deg) rotateY(377deg)
      rotateZ(357deg) translateZ(-1368px);
  }
  10% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(-146deg) rotateY(377deg)
      rotateZ(357deg) translateZ(-1368px);
  }
  90% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
}

@keyframes fly60 {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(-468deg) rotateY(227deg)
      rotateZ(427deg) translateZ(-658px);
  }
  10% {
    opacity: 0;
    transform: translate(-50%, -50%) rotateX(-468deg) rotateY(227deg)
      rotateZ(427deg) translateZ(-658px);
  }
  90% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(0px);
  }
}
