/* * {
  color: black;
} */

.App {
  text-align: center;
  font-family: 'IM Fell DW Pica SC', serif;
  padding: 0;
  margin: 0 auto;
  height: 100vh;
}

audio::-webkit-media-controls-timeline,
audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display {
  display: none;
}

.controlAudio {
  display: flex;
  justify-content: flex-end;
  left: 0;
  right: 0;
}

.controlAudioStyle {
  width: 150px;
  height: 20px;
  padding: 0px 4px;
}
