body {
  background-attachment: fixed;
  background-image: url('../images/backgroundHome.jpg');
  background-size: cover;
  margin: 0 auto;
}
.titleStyle {
  width: 500px;
  margin: 40px;
  margin-top: 120px;
}
.titleHome {
  display: flex;
  justify-content: center;
  margin: 30px;
}
.inputHome {
  display: flex;
  justify-content: center;
  margin: 30px;
}
.inputStyle {
  padding: 8px;
  width: 200px;
}
.buttonHome {
  display: flex;
  justify-content: center;
  margin: 30px;
}
.buttonStyle {
  padding: 8px;
  width: 150px;
  border-radius: 20px;
  background-color: antiquewhite;
  border: none;
  font-size: 16px;
}
