.Home {
  background-attachment: fixed;
  background-image: url('../images/backgroundHome.jpg');
  background-size: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.titleHomeStyle {
  width: 600px;
  margin: 40px;
  margin-top: 120px;
}
.titleHome {
  display: flex;
  justify-content: center;
}
.inputHome {
  display: flex;
  justify-content: center;
  margin: 30px;
}
.inputHomeStyle {
  padding: 8px;
  width: 200px;
}
.buttonHome {
  display: flex;
  justify-content: center;
  margin: 30px;
}
.buttonHomeStyle {
  padding: 8px;
  width: 150px;
  border-radius: 20px;
  background-color: antiquewhite;
  border: none;
  font-size: 16px;
  margin: 0 5px;
  cursor: pointer;
  color: #333;
  letter-spacing: 1px;
}
