.Home {
  background-attachment: fixed;
  background-image: url('../images/backgroundHome.jpg');
  background-size: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.titleHomeStyle {
  width: 600px;
  margin: 40px;
  margin-top: 160px;
}
.titleHome {
  display: flex;
  justify-content: center;
  animation: bounce 2.3s ease infinite alternate;
}
@keyframes bounce {
  from {
    transform: translateY(8);
  }
  to {
    transform: translateY(-12px);
  }
}
.inputHome {
  display: flex;
  justify-content: center;
  margin: 30px;
}
.inputHomeStyle {
  padding: 8px;
  width: 200px;
}
.buttonHome {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 30px;
}
.buttonImage {
  position: absolute;
  height: 100px;
  z-index: 1;
}
.buttonBackground {
  width: 150px;
  height: 50px;
  background: antiquewhite;
  position: absolute;
  top: 27px;
  border-radius: 10px;
}
.buttonBackgroundDisabled {
  opacity: 40%;
}
.buttonHomeStyle {
  position: absolute;
  top: 27px;
  padding: 8px;
  width: 144px;
  height: 50px;
  border-radius: 12px;
  border: none;
  font-size: 20px;
  font-weight: bold;
  font-family: var(--font-family-primary);
  margin: 0 5px;
  cursor: pointer;
  color: #333;
  background-color: transparent;
  letter-spacing: 1px;
  z-index: 2;
}
