.Medium {
  background-attachment: fixed;
  background: url('../images/backgroundMedium.jpg') center no-repeat;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}
.titleMedium {
  margin-top: 3%;
  display: flex;
  justify-content: center;
}
.titleMediumStyle {
  color: antiquewhite;
  font-size: 38px;
  font-weight: bold;
  font-family: var(--font-family-primary);
  letter-spacing: 1px;
}
.buttonMedium {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 30px;
}
.buttonImage {
  position: absolute;
  height: 100px;
  z-index: 1;
}
.buttonBackground {
  width: 150px;
  height: 50px;
  background: antiquewhite;
  position: absolute;
  top: 27px;
  border-radius: 10px;
}
.buttonMediumStyle {
  position: absolute;
  top: 27px;
  line-height: 75%;
  width: 144px;
  height: 50px;
  border-radius: 12px;
  border: none;
  font-size: 20px;
  font-weight: bold;
  font-family: var(--font-family-primary);
  margin: 0 5px;
  cursor: pointer;
  color: #333;
  background-color: transparent;
  letter-spacing: 1px;
  z-index: 2;
}
.loadingText {
  color: antiquewhite;
  font-size: 30px;
  font-weight: bolder;
  display: flex;
  justify-content: center;
}
/* ______________________________________________ */

.carousel {
  padding: 6vh 0 0 0;
  -webkit-perspective: 500px;
  perspective: 600px;
  overflow: hidden;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
}
.carousel > * {
  -webkit-box-flex: 0;
  flex: 0 0 auto;
}
.carousel figure {
  margin: 0;
  width: 450px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform-origin: 50% 50% -400px;
  transform-origin: 50% 50% -400px;
}
.carousel figure img {
  width: 100%;
  max-height: 300px;
  min-height: 200px;
  object-fit: contain;
  box-sizing: border-box;
  cursor: pointer;
}
.carousel figure img:not(:first-of-type) {
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform-origin: 50% 50% -400px;
  transform-origin: 50% 50% -400px;
}
.carousel nav {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  margin: 20px 0 0;
}

/* ______________________Media Query____________________________ */

@media screen and (min-width: 500px) and (max-width: 990px) {
  .carousel figure {
    width: 350px;
  }
  .titleMedium {
    margin-top: 30px;
  }
}

@media screen and (min-width: 1350px) {
  .titleMediumStyle {
    font-size: 50px;
  }
  .carousel figure {
    width: 550px;
  }
  .carousel {
    perspective: 800px;
  }
  .buttonImage {
    width: 250px;
    height: 105px;
  }
  .buttonBackground {
    width: 214px;
    height: 56px;
  }
  .buttonMediumStyle {
    font-size: 24px;
  }
}
