.Navbar {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font-family-primary);
  width: 100%;
  padding: 0 30px;
  position: absolute;
}

.avatar-container {
  margin-left: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35px;
  position: relative;
}

nav .avatar {
  border-radius: 50%;
  border: 2px solid #a19149;
  vertical-align: top;
  width: 100%;
  transform: scale(2);
  margin: 24px;
}

.nav-pseudo {
  font-size: 1.4em;
  margin: auto;
  color: antiquewhite;
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translate(-50%, -50%);
}

nav a {
  color: black;
  text-decoration: none;
  display: contents;
}

.counter {
  font-size: 1.4em;
  width: 50px;
  color: antiquewhite;
}

.clock-container {
  position: relative;
  margin-left: 1%;
}

.clock {
  width: 100%;
  max-width: 150px;
}

.clockhand {
  position: absolute;
  top: 37.5%;
  left: 42%;
  width: 35px;
  height: auto;
  z-index: 3;
}

.icon-home {
  border-radius: 50%;
  border: 3px solid #a19149;
  vertical-align: middle;
  width: 50px;
  opacity: 1;
  transition: all 0.3s ease-in;
}

.icon-home:hover {
  opacity: 0.7;
}

.home-container {
  position: relative;
  font-size: 1.6em;
}

.description-home {
  position: absolute;
  top: 160%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.8em;
}

.crystalBall-container {
  width: 70px;
  height: 70px;
  font-size: 1.6em;
  transition: all 0.3s ease-in;
  text-decoration: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: relative;
}

#crystalBall {
  max-width: 70px;
  border-radius: 50%;
}

.interroMark {
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;
  font-size: 1.6em;
  font-family: cursive;
  transition: all 0.3s ease-in;
  position: absolute;
  left: 50%;
  top: 40%;
}

.crystalBall-container:hover .interroMark {
  font-size: 2.1em;
}

.description-help {
  position: absolute;
  top: 130%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.8em;
}

@media all and (min-width: 768px) {
  .clock-container {
    width: 150px;
    top: -40%;
  }

  .clockhand {
    width: 50px;
  }
}

.place-step-rotation {
  transform: translate(-11px, 13px) rotate(90deg);
}

.murder-step-rotation {
  transform: translate(-25px, 4px) rotate(180deg);
}

.first-step-rotation {
  transform: translate(-15px, -10px) rotate(270deg);
}
