.rule-container {
  background-image: url('../../styles/images/image.jpg');
  margin: 0 auto;
  padding: 4em;
  width: 70%;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: rgb(255, 255, 255);
  text-shadow: 3px 3px black;
}

.title-modal {
  font-size: 3em;
  margin: 0;
}

.subtitle-modal {
  font-size: 2em;
  margin: 0;
  padding: 0.5em;
  text-align: center;
}

.image-modal {
  margin: 0 auto;
  width: 60%;
}

.paragraphe-modal {
  font-size: 1.5em;
  margin: 0;
  padding: 1em 3em;
  text-align: center;
}

.slick-slider {
  width: 100%;
  display: flex;
}

.slick-arrow {
  width: 200px;
  height: 100px;
}

.slick-arrow.slick-next {
  background-image: url('../images/aiguille-next.png');
  background-repeat: no-repeat;
  background-position: right;
}

.slick-arrow.slick-prev {
  background-image: url('../images/aiguille-prev.png');
  background-repeat: no-repeat;
  z-index: 1;
  background-position: left;
}

.slick-arrow.slick-next:before,
.slick-arrow.slick-prev:before {
  content: none;
}

.slick-next:hover,
.slick-prev:hover {
  content: none;
}
